<div class="container">
  <div style="margin-top: 3em" class="row">
    <img src="./assets/img/techbridge.png" alt="broken">
    <!--<ul style="float: right" class="center nav nav-pills">
      <li><a style="background-color: #7FAEE0; color: white" href="/techbridge-girls/donate">Make a donation</a></li>
    </ul>-->
    <img src="./assets/img/background.png" width="100%" height="auto">
    <div style="margin-left: 30%; margin-top: 2%">
      <ul class="nav nav-pills center">
        <li><a style="background-color: #FF8B00; color: white; margin: 0 4em;" href="/techbridge-girls/register">Register your child</a></li>
        <li><a style="background-color: #7FAEE0; color: white; margin: 0 4em;" href="/techbridge-girls/volunteer">Volunteer</a></li>
      </ul>
    </div>

  </div>
</div>